<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.edu.mapper.EduChapterMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.edu.pojo.entity.EduChapter">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="saveChapter">
        insert into edu_chapter (<include refid="Base_Column_List"/>)
        values (#{id},#{courseId},#{title},#{sort},#{gmtCreate},#{gmtModified})
    </insert>
    <update id="updateChapter">
        update edu_chapter set course_id=#{courseId},title = #{title},sort=#{sort},gmt_create = #{gmtCreate},gmt_modified=#{gmtModified} where id=#{id}
    </update>
    <delete id="deleteChapter">
        delete from edu_chapter where id=#{chapterId}
    </delete>

    <sql id="Base_Column_List">
        id,course_id,title,
        sort,gmt_create,gmt_modified
    </sql>
    <select id="getAllData" resultType="com.zty.onlineedu.edu.pojo.entity.EduChapter" resultMap="BaseResultMap">
        select * from edu_chapter where id=#{id}
    </select>
    <select id="getChapterById" resultType="com.zty.onlineedu.edu.pojo.entity.EduChapter" resultMap="BaseResultMap">
        select * from edu_chapter where id=#{chapterId}
    </select>
    <select id="getChapterByCourseId" resultType="com.zty.onlineedu.edu.pojo.entity.EduChapter">
        select id,title,sort from edu_chapter where course_id=#{courseId} order by sort,gmt_create ASC
    </select>
    <select id="getVideoByTwoId" resultType="com.zty.onlineedu.edu.pojo.entity.EduVideo">
        select id,title,is_free as isFree,sort,video_source_id as videoSourceId from edu_video where course_id=#{courseId} and chapter_id=#{chapterId} order by sort,gmt_create ASC
    </select>
    <select id="queryVideoDataByChapterId" resultType="java.lang.Integer">
        select count(1) from edu_video where chapter_id=#{chapterId} limit 1
    </select>
</mapper>
