<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.edu.mapper.EduTeacherMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.edu.entity.EduTeacher">
        <id property="id" column="id" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="intro" column="intro" jdbcType="VARCHAR"/>
        <result property="career" column="career" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="OTHER"/>
        <result property="joinDate" column="join_date" jdbcType="DATE"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,intro,
        career,level,avatar,
        sort,join_date,is_deleted,
        gmt_create,gmt_modified
    </sql>
    <insert id="saveTeacher">
        insert into edu_teacher
        (<include refid="Base_Column_List"/>)
        values
        (#{id},#{name},#{intro},#{career},#{level},#{avatar},#{sort},#{joinDate},#{isDeleted},#{gmtCreate},#{gmtModified})
    </insert>
    <insert id="saveFileInfoRelation">
        INSERT INTO edu_file_info_relation(DATAKEY,FILE_INDIRECT_ID,
                                           FILE_DIRECT_ID,
                                           FILE_TYPE,
                                           FILE_ID,
                                           FILE_NAME,
                                           FILE_VERSION,
                                           CREATE_UID,
                                           CREATE_UNAME,
                                           CREATE_TIME,
                                           YEAR,
                                           PROVINCE) values (#{datakey},#{fileIndirectId},#{fileDirectId},#{fileType},#{fileId},#{fileName},#{fileVersion},#{createUid},#{createUname},#{createTime},#{year},#{province})
    </insert>
    <update id="updateTeacher">
        update edu_teacher set name=#{name},intro=#{intro},career=#{career},level=#{level},avatar=#{avatar},sort=#{sort},join_date=#{joinDate},gmt_modified=#{gmtModified} where id=#{id}
    </update>

    <delete id="deleteData" parameterType="com.zty.onlineedu.edu.entity.EduTeacher">
        delete from edu_teacher
        <where>
            <if test="name!=null and name!=''">
                and name=#{name}
            </if>
            <if test="id!=null and id !=''">
                and id=#{id}
            </if>
        </where>
    </delete>
    <delete id="deleteFileRelation">
        delete from edu_file_info_relation where FILE_INDIRECT_ID=#{id}
    </delete>
    <select id="getTeacherList" resultMap="BaseResultMap">
        select * from edu_teacher
        <where>
            <if test="name !=null and name!=''">
                and name like #{name}
            </if>
            <if test="level !=null">
                and level=#{level}
            </if>
            <if test="joinDateBegin !=null and joinDateBegin!='' and joinDateEnd!=null and joinDateEnd!=''">
                and join_date &gt;#{joinDateBegin} and join_date&lt;#{joinDateEnd}
            </if>
        </where>
    </select>
    <select id="queryTeacherById" resultMap="BaseResultMap">
        select * from edu_teacher where id=#{id}
    </select>
    <select id="queryFileRelationNum" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM edu_file_info_relation WHERE FILE_INDIRECT_ID=#{id} LIMIT 1
    </select>
    <select id="queryFileInfoRelationByIndirectId" resultType="java.lang.String">
        select FILE_ID from edu_file_info_relation where FILE_INDIRECT_ID=#{id}
    </select>
    <select id="queryFileInfoById" resultType="java.util.Map">
        select * from edu_file_info where id=#{id}
    </select>

</mapper>
