<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.edu.mapper.EduVideoMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.edu.pojo.entity.EduVideo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="chapterId" column="chapter_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="videoSourceId" column="video_source_id" jdbcType="VARCHAR"/>
            <result property="videoOriginalName" column="video_original_name" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="playCount" column="play_count" jdbcType="VARCHAR"/>
            <result property="isFree" column="is_free" jdbcType="VARCHAR"/>
            <result property="duration" column="duration" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="size" column="size" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,chapter_id,
        title,video_source_id,video_original_name,
        sort,play_count,is_free,
        duration,status,size,
        version,gmt_create,gmt_modified
    </sql>
    <insert id="saveVideo">
        insert into edu_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
                id,
            <if test="courseId!=null and courseId!=''">
                course_id,
            </if>
            <if test="chapterId!=null and chapterId!=''">
                chapter_id,
            </if>
            <if test="title!=null and title!=''">
                title,
            </if>
            <if test="videoSourceId!=null and videoSourceId!=''">
                video_source_id,
            </if>
            <if test="videoOriginalName!=null and videoOriginalName!=''">
                video_original_name,
            </if>
            <if test="sort!=null and sort!=''">
                sort,
            </if>
            <if test="playCount!=null and playCount!=''">
                play_count,
            </if>
            <if test="isFree!=null and isFree!=''">
                is_free,
            </if>
            <if test="duration!=null and duration!=''">
                duration,
            </if>
            <if test="status!=null and status!=''">
                status,
            </if>
            <if test="version!=null and version!=''">
                version,
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            <if test="courseId!=null and courseId!=''">
                #{courseId},
            </if>
            <if test="chapterId!=null and chapterId!=''">
                #{chapterId},
            </if>
            <if test="title!=null and title!=''">
                #{title},
            </if>
            <if test="videoSourceId!=null and videoSourceId!=''">
                #{videoSourceId},
            </if>
            <if test="videoOriginalName!=null and videoOriginalName!=''">
                #{videoOriginalName},
            </if>
            <if test="sort!=null and sort!=''">
                #{sort},
            </if>
            <if test="playCount!=null and playCount!=''">
                #{playCount},
            </if>
            <if test="isFree!=null and isFree!=''">
                #{isFree},
            </if>
            <if test="duration!=null and duration!=''">
                #{duration},
            </if>
            <if test="status!=null and status!=''">
                #{status},
            </if>
            <if test="version!=null and version!=''">
                #{version},
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                #{gmtCreate},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                #{gmtModified},
            </if>

        </trim>
    </insert>
    <update id="updateVideo">
        update edu_video
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null and title!=''">
            title=#{title},
            </if>
            <if test="videoSourceId!=null and videoSourceId!=''">
                video_source_id=#{videoSourceId},
            </if>
            <if test="videoOriginalName!=null and videoOriginalName!=''">
                video_original_name=#{videoOriginalName},
            </if>
            <if test="sort!=null and sort!=''">
                sort=#{sort},
            </if>
            <if test="playCount!=null and playCount!=''">
                play_count=#{playCount},
            </if>
            <if test="isFree!=null and isFree!=''">
                is_free=#{isFree},
            </if>
            <if test="duration!=null and duration!=''">
                duration=#{duration},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="size!=null and size!=''">
                size=#{size},
            </if>
            <if test="version!=null and version!=''">
                version=#{version},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified=#{gmtModified},
            </if>
        </trim>
            where id=#{id}
    </update>
    <delete id="deleteVideoById">
        delete from edu_video where id=#{videoId}
    </delete>
    <select id="getVideoById" resultType="com.zty.onlineedu.edu.pojo.vo.VideoVo">
        SELECT
            e.id,
            e.title,
            e.is_free AS isFree,
            e.sort,
            e.video_source_id AS videoSourceId,
            e.video_original_name AS videoOriginalName,
            v.contentType AS fileType,
            v.filesize AS fileSize
        FROM
            edu_video e
                LEFT JOIN edu_video_info v ON v.id = e.video_source_id
        WHERE
            e.id = #{videoId}
    </select>
</mapper>
