<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.cms.mapper.CmsAdTypeMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.cms.pojo.entity.CmsAdType">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,gmt_create,
        gmt_modified
    </sql>
    <insert id="save">
        insert into cms_ad_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="title!=null and title!=''">
                title,
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="title!=null and title!=''">
               #{title},
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                #{gmtCreate},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
             #{gmtModified},
            </if>

        </trim>
    </insert>
    <update id="updateById">
        update cms_ad_type
        <set>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create=#{gmtCreate},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified=#{gmtModified},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="removeById">
        delete from cms_ad_type where id=#{id}
    </delete>
    <select id="list" resultMap="BaseResultMap">
        select * from cms_ad_type
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select * from cms_ad_type where id=#{id}
    </select>
</mapper>
