<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.cms.mapper.CmsAdMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.cms.pojo.entity.CmsAd">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="linkUrl" column="link_url" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,type_id,
        image_url,color,link_url,
        sort,gmt_create,gmt_modified
    </sql>
</mapper>
