<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.ucenter.mapper.MemberMapper">

    <resultMap id="BaseResultMap" type="com.zty.onlineedu.ucenter.pojo.entity.UcenterMember">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="sign" column="sign" jdbcType="VARCHAR"/>
            <result property="isDisabled" column="is_disabled" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,phone,
        password,nickname,sex,
        age,avatar,sign,
        is_disabled,is_deleted,gmt_create,
        gmt_modified
    </sql>
    <insert id="saveMember">
        insert into ucenter_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="openid!=null and openid!=''">
                openid,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname,
            </if>
            <if test="sex!=null and sex!=''">
                sex,
            </if>
            <if test="age!=null and age!=''">
                age,
            </if>
            <if test="avatar!=null and avatar!=''">
                avatar,
            </if>
            <if test="sign!=null and sign!=''">
                sign,
            </if>
            <if test="isDisabled!=null and isDisabled!=''">
                is_disabled,
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                is_deleted,
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="openid!=null and openid!=''">
                #{openid},
            </if>
            <if test="phone!=null and phone!=''">
                #{phone},
            </if>
            <if test="password!=null and password!=''">
              #{password},
            </if>
            <if test="nickname!=null and nickname!=''">
                #{nickname},
            </if>
            <if test="sex!=null and sex!=''">
                #{sex},
            </if>
            <if test="age!=null and age!=''">
              #{age},
            </if>
            <if test="avatar!=null and avatar!=''">
                #{avater},
            </if>
            <if test="sign!=null and sign!=''">
                #{sign},
            </if>
            <if test="isDisabled!=null and isDisabled!=''">
                #{isDisabled},
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
               #{isDeleted},
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
               #{gmtCreate},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                #{gmtModified},
            </if>
        </trim>
    </insert>
    <select id="isMatchByNickname" resultType="Boolean">
        select count(1) from ucenter_member where nickname=#{nickname}
    </select>
    <select id="isMatchByPhone" resultType="Boolean">
        select count(1) from ucenter_member where phone=#{phone}
    </select>
</mapper>
