<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.onlineedu.ucenter.mapper.WxMapper">
    <insert id="saveUserInfo">
        insert into ucenter_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                id,
            </if>
            <if test="openid!=null and openid!=''">
                openid,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname,
            </if>
            <if test="sex!=null and sex!=''">
                sex,
            </if>
            <if test="age!=null and age!=''">
                age,
            </if>
            <if test="avatar!=null and avatar!=''">
                avatar,
            </if>
            <if test="sign!=null and sign!=''">
                sign,
            </if>
            <if test="isDisabled!=null and isDisabled!=''">
                is_disabled,
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                is_deleted,
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            <if test="openid!=null and openid!=''">
                #{openid},
            </if>
            <if test="phone!=null and phone!=''">
                #{phone},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="nickname!=null and nickname!=''">
                #{nickname},
            </if>
            <if test="sex!=null and sex!=''">
                #{sex},
            </if>
            <if test="age!=null and age!=''">
                #{age},
            </if>
            <if test="avatar!=null and avatar!=''">
                #{avater},
            </if>
            <if test="sign!=null and sign!=''">
                #{sign},
            </if>
            <if test="isDisabled!=null and isDisabled!=''">
                #{isDisabled},
            </if>
            <if test="isDeleted!=null and isDeleted!=''">
                #{isDeleted},
            </if>
            <if test="gmtCreate!=null and gmtCreate!=''">
                #{gmtCreate},
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                #{gmtModified},
            </if>
        </trim>
    </insert>
    <select id="queryOpenIdExist" resultType="java.lang.Boolean">
        select count(1) from ucenter_member where openid=#{openId}
    </select>

</mapper>
